.dropdown {
  float: right;
  overflow: hidden;
}

.dropbtn {
  font-size: medium;  
  border: none;
  outline: none;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 35px;
  background-color: inherit;
}

.dropbtn:hover {
  background-color: white;
  z-index: 999;
}

.dropbtn a {
  display:block;
  min-width: 160px;
  color: black;
  background-color: #f9f9f9;
  padding: 14px 16px;
  text-decoration: none;
  text-align: left;
}
