a:link, a:visited{
  color:#0000EE;
  }
.navbar {
  position:sticky;
  top: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  list-style-type: none;
  background-color: rgb(32,33,36);
  overflow: hidden;
  }
.navbar b{
  color: white;
  display: block;
  float: left; 
  text-decoration: none;
  padding: 20px;     
  }
.navbar a{
  color: white;
  display: block;
  float: right;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 40px;
  }
