<!-- 导航栏设置  -->
<div style="position:sticky;
     top: 0px;
     padding: 0px;
     margin: 0px;
     list-style-type: none;
     background-color: rgb(32,33,36);
     overflow: hidden;">
    <a style="font-weight:bold; font-size:large;color: white;
     display: block;
     float: left;
     text-decoration: none;
     padding: 1.5%;">Senyu Yang</a>
    <a style="color: white" href="#About-Me">About Me</a>
    <a style="color: white" href="#Academia">Academia</a>
    <a style="color: white" href="#Hobby">Hobby</a>
</div>
